@font-face {
  font-family: 'iconchatbot';
  src:  url('../fonts/iconchatbot.eot?1pknvv');
  src:  url('../fonts/iconchatbot.eot?1pknvv#iefix') format('embedded-opentype'),
    url('../fonts/iconchatbot.ttf?1pknvv') format('truetype'),
    url('../fonts/iconchatbot.woff?1pknvv') format('woff'),
    url('../fonts/iconchatbot.svg?1pknvv#iconchatbot') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconchatbot' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stop:before {
  content: "\e900";
}
.icon-play:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e902";
}
